{"openapi":"3.0.0","info":{"title":"Intuety API","version":"v2","description":"## Typescript Node.JS REST API Server, leveraging TypeORM. \n ### Key conventions: \n- RESTful conventions should be observed wherever possible\n- Paths are in camelCase\n- JSON body parameters should be in camelCase"},"servers":[{"url":"https://app.intuety.io/api/v2","description":"Production server"}],"paths":{"/metrics/project/{projectId}":{"get":{"tags":["Metrics"],"summary":"Get project metrics","description":"Retrieve metrics for a specific project. Requires api authentication.","security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"projectId","required":true,"schema":{"type":"integer"},"description":"The ID of the project"},{"in":"query","name":"startDate","schema":{"type":"string","format":"date-time"},"description":"The start date for the metrics"},{"in":"query","name":"endDate","schema":{"type":"string","format":"date-time"},"description":"The end date for the metrics"}],"responses":{"200":{"description":"Successfully retrieved project metrics","content":{"application/json":{"schema":{"type":"object","description":"Metrics data"}}}},"400":{"description":"Invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/{clientId}/projects":{"get":{"tags":["Metrics"],"summary":"Get projects metrics for a client","description":"Retrieve metrics for all projects of a specific client. Requires api authentication.","security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"clientId","required":true,"schema":{"type":"integer"},"description":"The ID of the client"},{"in":"query","name":"startDate","schema":{"type":"string","format":"date-time"},"description":"The start date for the metrics"},{"in":"query","name":"endDate","schema":{"type":"string","format":"date-time"},"description":"The end date for the metrics"}],"responses":{"200":{"description":"Successfully retrieved projects metrics","content":{"application/json":{"schema":{"type":"object","description":"Metrics data"}}}},"400":{"description":"Invalid input parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/riskAssessments":{"post":{"summary":"Retrieve risk assessments","description":"This endpoint retrieves risk assessments for the provided input criteria","security":[{"ApiKeyAuth":["client_admin","admin"]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"integer","description":"The ID of the project","required":false},"userId":{"type":"integer","description":"The ID of the user","required":false},"clientId":{"type":"integer","description":"The ID of the client","required":false},"startDate":{"type":"string","format":"date-time","description":"The start date of the risk assessments in ISO8601 format","required":false},"endDate":{"type":"string","format":"date-time","description":"The end date of the risk assessments in ISO8601 format","required":false},"output":{"type":"string","format":"json | csv","default":"json","description":"The designed output format. Accepts 'json' or 'csv'. Default output is JSON when not specified."}}}}}},"responses":{"200":{"description":"A list of risk assessments","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of risk assessments returned"},"riskAssessments":{"type":"array","items":{"type":"#/components/schemas/RiskAssessment"}}}}}}},"400":{"description":"Invalid body provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/reviews":{"post":{"summary":"Get reviews metrics","description":"Endpoint to fetch reviews metrics based on provided parameters","security":[{"ApiKeyAuth":["client_admin","admin"]}],"tags":["Metrics"],"requestBody":{"description":"Parameters to filter reviews metrics","required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"integer","description":"The ID of the project","required":false},"projectIds":{"type":"array","items":{"type":"integer","description":"The IDs of the projects","reqired":false}},"riskAssessmentId":{"type":"integer","description":"The ID of the risk assessment","required":false},"userId":{"type":"integer","description":"The ID of the user","required":false},"clientId":{"type":"integer","description":"The ID of the client","required":false},"startDate":{"type":"string","format":"date-time","description":"The start date of the reviews in ISO8601 format","required":false},"endDate":{"type":"string","format":"date-time","description":"The end date of the reviews in ISO8601 format","required":false},"output":{"type":"string","format":"json | csv","default":"json","description":"The designed output format. Accepts 'json' or 'csv'. Default output is JSON when not specified."}}}}}},"responses":{"200":{"description":"A list of reviews metrics","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of reviews returned"},"reviews":{"type":"array","items":{"$ref":"#/components/schemas/Review"}}}}}}},"400":{"description":"Invalid body provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/requestedReviewers":{"post":{"tags":["Metrics","RequestedReviewers"],"description":"Endpoint to get requested reviewers metrics.","security":[{"ApiKeyAuth":["client_admin","admin"]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"integer"},"projectIds":{"type":"array","items":{"type":"integer"}},"riskAssessmentId":{"type":"integer"},"userId":{"type":"integer"},"clientId":{"type":"integer"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"output":{"type":"string","format":"json | csv","default":"json","description":"The designed output format. Accepts 'json' or 'csv'. Default output is JSON when not specified."}}}}}},"responses":{"200":{"description":"A list of requested reviewers metrics","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of requested reviewers returned"},"requestedReviewers":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}},"400":{"description":"Invalid body provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/users":{"post":{"tags":["Metrics","Users"],"description":"Endpoint to get user metrics.","security":[{"ApiKeyAuth":["client_admin","admin"]}],"produces":["application/json"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":[{"name":"clientId","description":"Client's id.","in":"body","required":false,"type":"integer"},{"name":"clientIds","description":"Array of client's ids.","in":"body","required":false,"type":"array","items":{"type":"integer"}},{"name":"output","type":"string","format":"json | csv","default":"json","description":"The designed output format. Accepts 'json' or 'csv'. Default output is JSON when not specified."}]}}}},"responses":{"200":{"description":"Successful operation, returns count of users and user data.","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of users."},"users":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}},"400":{"description":"Invalid input, error message is returned.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/metrics/logins":{"post":{"tags":["Metrics"],"description":"Returns the count and data of user logins within the specified date range for a client","produces":["application/json"],"security":[{"ApiKeyAuth":["client_admin","admin"]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"},"output":{"type":"string","format":"json | csv","default":"json","description":"The designed output format. Accepts 'json' or 'csv'. Default output is JSON when not specified."}}}}}},"responses":{"200":{"description":"Successful operation, returns count of logins and login data.","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of logins"},"logins":{"type":"array","items":{"$ref":"#/components/schemas/UserLogin"}}}}}}},"400":{"description":"Invalid input, error message is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/invites":{"post":{"tags":["Metrics","Logins"],"summary":"Get invites metrics","description":"Returns the count and data of invites within the specified date range for a client","security":[{"ApiKeyAuth":["client_admin","admin"]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"},"output":{"type":"string","format":"json | csv","default":"json","description":"The designed output format. Accepts 'json' or 'csv'. Default output is JSON when not specified."}}}}}},"responses":{"200":{"description":"Successful operation, returns count of invites and invite data","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of invites"},"invites":{"type":"array","items":{"$ref":"#/components/schemas/Invite"}}}}}}},"400":{"description":"Invalid input, error message is returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/projects":{"post":{"summary":"Get projects","tags":["Metrics"],"security":[{"ApiKeyAuth":["client_admin","admin"]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"},"includeCollaborations":{"type":"boolean","description":"Include projects to which the client is a collaborator"},"output":{"type":"string","format":"json | csv","default":"json","description":"The designed output format. Accepts 'json' or 'csv'. Default output is JSON when not specified."}}}}}},"responses":{"200":{"description":"Successful operation, returns count of projects and project data","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of projects"},"projects":{"type":"array","items":{"$ref":"#/components/schemas/Project"}}}}}}},"400":{"description":"Invalid input, error message is returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/collaborators":{"post":{"summary":"Retrieves collaborators metrics","security":[{"ApiKeyAuth":["client_admin","admin"]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"integer","description":"Project ID"},"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"},"output":{"type":"string","format":"json | csv","default":"json","description":"The designed output format. Accepts 'json' or 'csv'. Default output is JSON when not specified."}}}}}},"responses":{"200":{"description":"Successful operation, returns count of collaborators and collaborator data","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of collaborators"},"collaborators":{"type":"array","items":{"$ref":"#/components/schemas/Collaborator"}}}}}}},"400":{"description":"Invalid input, error message is returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/collaborations":{"post":{"summary":"Retrieves collaborations metrics","security":[{"ApiKeyAuth":["client_admin","admin"]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"integer","description":"Project ID"},"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"},"output":{"type":"string","format":"json | csv","default":"json","description":"The designed output format. Accepts 'json' or 'csv'. Default output is JSON when not specified."}}}}}},"responses":{"200":{"description":"Successful operation, returns count of collaborations and collaborator data","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer"},"collaborators":{"type":"array","items":{"type":"object"}}}}}}},"400":{"description":"Invalid input, error message is returned","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/metrics/recommendations":{"post":{"summary":"Retrieves recommendation metrics","security":[{"ApiKeyAuth":["client_admin","admin"]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"integer","description":"Project ID"},"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"}}}}}},"responses":{"200":{"description":"Successful operation, returns count of recommendations and top recommendation data","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer"},"collaborators":{"type":"array","items":{"type":"object"}}}}}}},"400":{"description":"Invalid input, error message is returned","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"openapi":{"0":"3","1":".","2":"0","3":".","4":"0"},"AccessToken":{"type":"object","properties":{"tokenId":{"type":"integer","description":"Unique ID of the access token"},"token":{"type":"string","description":"Access token string","nullable":true},"userName":{"type":"string","description":"Username associated with the access token","nullable":true},"applicationIp":{"type":"string","description":"IP address of the application","nullable":true},"tokenExpiry":{"type":"string","format":"date-time","description":"Expiry date and time of the access token","nullable":true},"tokenCreated":{"type":"string","format":"date-time","description":"Creation date and time of the access token","nullable":true},"userId":{"type":"integer","description":"User ID associated with the access token","nullable":true},"tokenMetadata":{"type":"object","description":"Metadata of the token","nullable":true},"user":{"$ref":"#/components/schemas/User","description":"User associated with the access token"}}},"ApiEndpoints":{"type":"object","properties":{"endPointId":{"type":"integer","description":"Unique ID of the API endpoint"},"title":{"type":"string","description":"Title of the API endpoint","nullable":true},"endPoint":{"type":"string","description":"URL of the API endpoint","nullable":true}}},"ApiLog":{"type":"object","properties":{"apiLogId":{"type":"integer","description":"Unique ID of the API log"},"jobId":{"type":"string","description":"Job ID associated with the API log","nullable":true},"url":{"type":"string","description":"URL of the API request","nullable":true},"requestBody":{"type":"string","description":"Request body of the API call","nullable":true},"requestMethod":{"type":"string","description":"HTTP method used for the API request","nullable":true},"kindOfRequest":{"type":"string","description":"Type of request made to the API","nullable":true},"request":{"type":"string","description":"Complete API request","nullable":true},"response":{"type":"string","description":"Complete API response","nullable":true},"statusCode":{"type":"string","description":"HTTP status code of the response","nullable":true},"responseBody":{"type":"string","description":"Body of the API response","nullable":true},"created":{"type":"string","format":"date-time","description":"Date and time when the log was created"},"modified":{"type":"string","format":"date-time","description":"Date and time when the log was last modified","nullable":true},"status":{"type":"integer","description":"Status of the API log"}}},"ApiToken":{"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the API token"},"token":{"type":"string","description":"Token string"},"name":{"type":"string","description":"Name of the API token"},"description":{"type":"string","description":"Description of the API token"},"userId":{"type":"integer","description":"ID of the user associated with the token"},"createdAt":{"type":"string","format":"date-time","description":"Date and time when the token was created"},"user":{"$ref":"#/components/schemas/User","description":"User associated with the API token"}}},"AuditLog":{"type":"object","properties":{"auditLogId":{"type":"integer","description":"Unique ID of the audit log"},"teamId":{"type":"integer","description":"ID of the team associated with the audit log","nullable":true},"userId":{"type":"integer","description":"ID of the user associated with the audit log","nullable":true},"staffId":{"type":"integer","description":"ID of the staff associated with the audit log","nullable":true},"riskAssessmentId":{"type":"integer","description":"ID of the risk assessment associated with the audit log","nullable":true},"riskId":{"type":"integer","description":"ID of the risk associated with the audit log","nullable":true},"consequenceId":{"type":"integer","description":"ID of the consequence associated with the audit log","nullable":true},"activityId":{"type":"integer","description":"ID of the activity associated with the audit log","nullable":true},"taskId":{"type":"integer","description":"ID of the task associated with the audit log","nullable":true},"project":{"type":"string","description":"Project associated with the audit log","nullable":true},"created":{"type":"string","format":"date-time","description":"Date and time when the audit log was created"},"modified":{"type":"string","format":"date-time","description":"Date and time when the audit log was last modified","nullable":true},"status":{"type":"integer","description":"Status of the audit log"},"action":{"type":"string","description":"Action taken in the audit log"},"task":{"$ref":"#/components/schemas/Task","description":"Task associated with the audit log","nullable":true},"riskAssessment":{"$ref":"#/components/schemas/RiskAssessment","description":"Risk assessment associated with the audit log","nullable":true},"team":{"$ref":"#/components/schemas/Team","description":"Team associated with the audit log","nullable":true}}},"Client":{"type":"object","properties":{"clientId":{"type":"integer","description":"Unique ID of the client"},"clientName":{"type":"string","description":"Name of the client","nullable":true},"created":{"type":"string","format":"date-time","description":"Date and time of client creation"},"modified":{"type":"string","format":"date-time","description":"Date and time of last modification","nullable":true},"status":{"type":"boolean","description":"Indicates if the client is active"},"delete":{"type":"boolean","description":"Indicates if the client is deleted"},"primaryClientId":{"type":"integer","description":"ID of the primary client","nullable":true},"useProjects":{"type":"boolean","description":"Indicates if the client uses projects"},"forceSSO":{"type":"boolean","description":"Indicates if single sign-on (SSO) is enforced"},"forceMfa":{"type":"boolean","description":"Indicates if multi-factor authentication (MFA) is enforced"},"showDocumentScore":{"type":"boolean","description":"Indicates if the document score is shown"},"logo":{"type":"string","format":"binary","description":"Logo of the client","nullable":true},"primaryClient":{"$ref":"#/components/schemas/Client","description":"Primary client associated with this client","nullable":true},"riskAssessments":{"type":"array","items":{"$ref":"#/components/schemas/RiskAssessment"},"description":"List of risk assessments associated with the client"},"tasks":{"type":"array","items":{"$ref":"#/components/schemas/Task"},"description":"List of tasks associated with the client"},"teams":{"type":"array","items":{"$ref":"#/components/schemas/Team"},"description":"List of teams associated with the client"},"users":{"type":"array","items":{"$ref":"#/components/schemas/User"},"description":"List of users associated with the client"},"roles":{"type":"array","items":{"$ref":"#/components/schemas/UserRole"},"description":"List of roles associated with the client"},"userInvites":{"type":"array","items":{"$ref":"#/components/schemas/UserInvite"},"description":"List of user invites associated with the client"},"ProjectClient":{"type":"array","items":{"$ref":"#/components/schemas/Project"},"description":"List of projects associated with the client"},"collaborations":{"type":"array","items":{"$ref":"#/components/schemas/ProjectCollaboration"},"description":"List of collaborations associated with the client"},"providers":{"type":"array","items":{"$ref":"#/components/schemas/Supplier"},"description":"List of providers associated with the client"},"suppliers":{"type":"array","items":{"$ref":"#/components/schemas/Supplier"},"description":"List of suppliers associated with the client"},"scribeDocuments":{"type":"array","items":{"$ref":"#/components/schemas/DocumentTemplate"},"description":"List of document templates associated with the client"},"approverSubcontractorInvite":{"type":"boolean","description":"Indicates if the client allows approvers to invite subcontractors"}}},"ClientUser":{"type":"object","properties":{"clientId":{"type":"integer","description":"ID of the client","nullable":true},"userId":{"type":"integer","description":"ID of the user","nullable":true},"user":{"$ref":"#/components/schemas/User","description":"User associated with this client-user relation"},"client":{"$ref":"#/components/schemas/Client","description":"Client associated with this client-user relation"}}},"DemoToken":{"type":"object","properties":{"tokenID":{"type":"integer","description":"Unique ID of the demo token","nullable":true},"uses":{"type":"integer","description":"Number of uses for the demo token","nullable":true},"tokenCreated":{"type":"string","format":"date-time","description":"Date and time the token was created","nullable":true},"tokenExpiry":{"type":"string","format":"date-time","description":"Date and time the token expires","nullable":true},"ipAddress":{"type":"string","description":"IP address associated with the token"},"token":{"type":"string","description":"The demo token string"}}},"DocumentTemplate":{"type":"object","properties":{"templateId":{"type":"integer","description":"Unique ID of the document template"},"name":{"type":"string","description":"Name of the document template"},"type":{"type":"string","description":"Type of the document template"},"content":{"type":"object","description":"Content of the document template"},"clientId":{"type":"integer","description":"ID of the client associated with the document template"},"thumbnail":{"type":"string","format":"byte","description":"Thumbnail of the document template","nullable":true},"metadataContent":{"type":"object","description":"Metadata content of the document template","nullable":true},"riskAssessmentContent":{"type":"object","description":"Risk assessment content of the document template","nullable":true},"riskAssessmentData":{"type":"array","items":{"$ref":"#/components/schemas/RiskAssessmentData"},"description":"Risk assessment data of the document template","nullable":true},"ssowData":{"type":"object","description":"SSOW data of the document template","nullable":true},"client":{"$ref":"#/components/schemas/Client","description":"Client associated with the document template"}}},"UserLogin":{"type":"object","description":"Details of the user login","properties":{"userName":{"type":"string","description":"Username of the user"},"tokenCreated":{"type":"string","format":"date-time","description":"Date and time when the token was created"},"userId":{"type":"integer","description":"ID of the user"},"user":{"type":"object","properties":{"fullName":{"type":"string","description":"Full name of the user"}}}}},"MethodStatementComment":{"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the method statement comment"},"userId":{"type":"integer","description":"ID of the user who made the comment"},"commenter":{"$ref":"#/components/schemas/User","description":"User who made the comment"},"createdAt":{"type":"string","format":"date-time","description":"Date and time the comment was created"},"riskAssessmentId":{"type":"integer","description":"ID of the associated risk assessment"},"riskAssessment":{"$ref":"#/components/schemas/RiskAssessment","description":"Associated risk assessment"},"replyToId":{"type":"integer","description":"ID of the comment this comment is replying to","nullable":true},"replies":{"type":"array","items":{"$ref":"#/components/schemas/MethodStatementComment"},"description":"List of replies to this comment"},"replyTo":{"$ref":"#/components/schemas/MethodStatementComment","description":"The comment this comment is replying to","nullable":true},"editToId":{"type":"integer","description":"ID of the comment this comment is an edit of","nullable":true},"editedComments":{"type":"array","items":{"$ref":"#/components/schemas/MethodStatementComment"},"description":"List of edited versions of this comment"},"editTo":{"$ref":"#/components/schemas/MethodStatementComment","description":"The comment this comment is an edit of","nullable":true},"deleted":{"type":"boolean","description":"Indicates if the comment is deleted"},"commentData":{"type":"object","description":"Data of the comment"}}},"MethodStatementState":{"type":"object","properties":{"stateId":{"type":"integer","description":"Unique ID of the method statement state"},"state":{"type":"string","description":"State of the method statement"}}},"Ontology":{"type":"object","properties":{"ontologyId":{"type":"integer","description":"Unique ID of the ontology"},"parent":{"type":"string","nullable":true,"description":"Parent of the ontology"},"children":{"type":"string","nullable":true,"description":"Children of the ontology"},"created":{"type":"string","format":"date-time","nullable":true,"description":"Date and time when the ontology was created"},"active":{"type":"integer","description":"Indicates if the ontology is active"},"deleted":{"type":"integer","description":"Indicates if the ontology is deleted"}}},"Organisation":{"type":"object","properties":{"organisationId":{"type":"integer","description":"Unique ID of the organisation"},"organisation":{"type":"string","nullable":true,"description":"Name of the organisation"},"created":{"type":"string","format":"date-time","description":"Date and time when the organisation was created"},"modified":{"type":"string","format":"date-time","nullable":true,"description":"Date and time when the organisation was last modified"},"status":{"type":"integer","description":"Status of the organisation (1 for active, 0 for inactive)"},"organisationUsers":{"type":"array","items":{"type":"object","description":"List of users associated with the organisation"}}}},"OrganisationUser":{"type":"object","properties":{"organisationUserId":{"type":"integer","description":"Unique ID of the organisation user association"},"organisationId":{"type":"integer","description":"ID of the associated organisation"},"userId":{"type":"integer","description":"ID of the associated user"},"created":{"type":"string","format":"date-time","description":"Date and time when the association was created"},"modified":{"type":"string","format":"date-time","nullable":true,"description":"Date and time when the association was last modified"},"status":{"type":"integer","description":"Status of the association (1 for active, 0 for inactive)"},"organisation":{"type":"object","description":"The associated organisation","$ref":"#/components/schemas/Organisation"},"user":{"type":"object","description":"The associated user","$ref":"#/components/schemas/User"}}},"PasswordReset":{"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the password reset request"},"userId":{"type":"integer","description":"ID of the associated user"},"user":{"type":"object","description":"The associated user","$ref":"#/components/schemas/User"},"token":{"type":"string","nullable":true,"description":"Token for password reset"},"expiry":{"type":"string","format":"date-time","description":"Expiry date and time of the password reset token"},"createdAt":{"type":"string","format":"date-time","description":"Date and time when the password reset request was created"},"redeemed":{"type":"boolean","description":"Indicates if the password reset token has been redeemed"}}},"Permissions":{"type":"object","properties":{"permissionId":{"type":"integer","description":"Unique ID of the permission"},"authorities":{"type":"string","description":"Authorities associated with the permission"},"displayName":{"type":"string","nullable":true,"description":"Display name of the permission"},"description":{"type":"string","nullable":true,"description":"Description of the permission"},"rolePermissionJoins":{"type":"array","description":"List of role-permission join entries","items":{"$ref":"#/components/schemas/RolePermissionJoin"}}}},"Project":{"type":"object","properties":{"projectId":{"type":"integer","description":"Unique ID of the project"},"clientId":{"type":"integer","description":"ID of the client associated with the project"},"leaderId":{"type":"integer","description":"ID of the project leader"},"name":{"type":"string","description":"Name of the project"},"reference":{"type":"string","description":"Reference of the project"},"location":{"type":"string","description":"Location of the project"},"coordinates":{"type":"string","description":"Coordinates of the project"},"createdAt":{"type":"string","format":"date-time","description":"Date and time of project creation"},"startDate":{"type":"string","format":"date-time","description":"Start date of the project"},"endDate":{"type":"string","format":"date-time","description":"End date of the project"},"modifiedAt":{"type":"string","format":"date-time","description":"Date and time of last modification"},"deleted":{"type":"boolean","description":"Indicates if the project is deleted"},"completed":{"type":"boolean","description":"Indicates if the project is completed"},"labels":{"type":"string","description":"Labels associated with the project"},"members":{"type":"array","items":{"$ref":"#/components/schemas/User"},"description":"List of members associated with the project"},"users":{"type":"array","items":{"$ref":"#/components/schemas/User"},"description":"List of users associated with the project"},"riskAssessments":{"type":"array","items":{"$ref":"#/components/schemas/RiskAssessment"},"description":"List of risk assessments associated with the project"},"projectPermissions":{"type":"array","items":{"$ref":"#/components/schemas/ProjectPermissions"},"description":"List of project permissions associated with the project"},"collaborations":{"type":"array","items":{"$ref":"#/components/schemas/ProjectCollaboration"},"description":"List of collaborations associated with the project"}}},"ProjectCollaboration":{"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the project collaboration"},"clientId":{"type":"integer","description":"ID of the client associated with the collaboration"},"isPrincipleContractor":{"type":"boolean","description":"Indicates if the client is the principle contractor"},"inviterId":{"type":"integer","description":"ID of the user who invited the collaborator"},"projectId":{"type":"integer","description":"ID of the project associated with the collaboration"},"targetEmail":{"type":"string","description":"Email of the target collaborator"},"createdAt":{"type":"string","format":"date-time","description":"Date and time of collaboration creation"},"active":{"type":"boolean","description":"Indicates if the collaboration is active"},"readOnly":{"type":"boolean","description":"Indicates if the collaboration is read-only"},"accepted":{"type":"boolean","description":"Indicates if the collaboration is accepted"},"acceptedDate":{"type":"string","format":"date-time","description":"Date and time when the collaboration was accepted"},"aliasName":{"type":"string","description":"Alias name for the collaboration"},"aliasReference":{"type":"string","description":"Alias reference for the collaboration"},"project":{"$ref":"#/components/schemas/Project","description":"Project associated with the collaboration"},"inviter":{"$ref":"#/components/schemas/User","description":"User who invited the collaborator"},"client":{"$ref":"#/components/schemas/Client","description":"Client associated with the collaboration"}}},"ProjectPermissions":{"type":"object","properties":{"userId":{"type":"integer","description":"ID of the user associated with the project permission"},"projectId":{"type":"integer","description":"ID of the project associated with the project permission"},"elevatedPermissions":{"type":"boolean","description":"Indicates if the user has elevated permissions for the project"},"project":{"$ref":"#/components/schemas/Project","description":"Project associated with the project permission"},"user":{"$ref":"#/components/schemas/User","description":"User associated with the project permission"}}},"Region":{"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the region"},"name":{"type":"string","description":"Name of the region"},"parent":{"type":"integer","description":"ID of the parent region"},"parentRegion":{"$ref":"#/components/schemas/Region","description":"Parent region associated with this region"},"subRegions":{"type":"array","items":{"$ref":"#/components/schemas/Region"},"description":"List of sub-regions under this region"}}},"Review":{"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the review"},"date":{"type":"string","format":"date-time","description":"Date and time of the review"},"approved":{"type":"boolean","description":"Indicates if the review is approved"},"comments":{"type":"string","description":"Comments of the reviewer"},"riskAssessmentId":{"type":"integer","description":"ID of the associated risk assessment"},"reviewerId":{"type":"integer","description":"ID of the reviewer"},"riskAssessment":{"$ref":"#/components/schemas/RiskAssessment","description":"Associated risk assessment"},"reviewer":{"$ref":"#/components/schemas/User"}}},"RiskAssessment":{"type":"object","properties":{"riskAssessmentId":{"type":"integer","description":"Unique ID of the risk assessment"},"hidden":{"type":"boolean","description":"Indicates if the risk assessment is hidden"},"projectId":{"type":"integer","description":"ID of the associated project"},"project":{"$ref":"#/components/schemas/Project","description":"Associated project"},"deleted":{"type":"boolean","description":"Indicates if the risk assessment is deleted"},"documentation_viewed":{"type":"boolean","description":"Indicates if the documentation has been viewed"},"uploadRiskAssessment":{"type":"string","description":"Uploaded risk assessment file"},"uploadRiskAssessmentStoredName":{"type":"string","description":"Stored name of the uploaded risk assessment file"},"uploadMethodStatement":{"type":"string","description":"Uploaded method statement file"},"uploadMethodStatementStoredName":{"type":"string","description":"Stored name of the uploaded method statement file"},"reference":{"type":"string","description":"Reference of the risk assessment"},"projectOld":{"type":"string","description":"Old project reference"},"taskId":{"type":"integer","description":"ID of the associated task"},"approvalId":{"type":"integer","nullable":true,"description":"ID of the approval (if any)"},"clientId":{"type":"integer","description":"ID of the associated client"},"userId":{"type":"integer","description":"ID of the user who created the risk assessment"},"jobId":{"type":"string","nullable":true,"description":"Job ID associated with the risk assessment"},"teamId":{"type":"integer","nullable":true,"description":"ID of the associated team"},"improvementTrend":{"type":"integer","nullable":true,"description":"Improvement trend indicator"},"progressBar":{"type":"integer","nullable":true,"description":"Progress bar indicator"},"submittedDate":{"type":"string","format":"date-time","nullable":true,"description":"Date the risk assessment was submitted"},"finalReviewDate":{"type":"string","format":"date-time","nullable":true,"description":"Date of the final review"},"stateId":{"type":"integer","description":"ID of the current state"},"created":{"type":"string","format":"date-time","description":"Date and time of creation"},"modified":{"type":"string","format":"date-time","description":"Date and time of last modification"},"status":{"type":"integer","description":"Status of the risk assessment"},"restructuredJson":{"$ref":"#/components/schemas/RiskAssessmentData","nullable":true,"description":"Restructured JSON data"},"remarks":{"type":"string","nullable":true,"description":"Remarks or comments"},"totalMitigations":{"type":"integer","description":"Total number of mitigations"},"mitigationsAccepted":{"type":"integer","description":"Number of mitigations accepted"},"qualityScore":{"type":"number","nullable":true,"description":"Quality score of the risk assessment"},"numberOfRecommendations":{"type":"integer","nullable":true,"description":"Number of recommendations"},"totalNumberOfTriplets":{"type":"integer","description":"Total number of triplets"},"initialQualityScore":{"type":"number","nullable":true,"description":"Initial quality score"},"methodStatementFileSize":{"type":"string","nullable":true,"description":"File size of the method statement"},"pdfDownloaded":{"type":"integer","nullable":true,"description":"Indicator if the PDF was downloaded"},"methodStatementPdfName":{"type":"string","nullable":true,"description":"Name of the method statement PDF"},"methodStatementUploaded":{"type":"boolean","nullable":true,"description":"Indicates if the method statement was uploaded"},"methodStatementStateId":{"type":"integer","nullable":true,"description":"ID of the method statement state"},"methodStatementResult":{"type":"object","nullable":true,"description":"Result of the method statement"},"summaryComments":{"type":"string","nullable":true,"description":"Summary comments"},"msNotRa":{"type":"string","nullable":true,"description":"Method statement not related to risk assessment"},"raNotMs":{"type":"string","nullable":true,"description":"Risk assessment not related to method statement"},"safetyBriefingRecommendations":{"type":"object","nullable":true,"description":"Safety briefing recommendations"},"auditLogs":{"type":"array","items":{"$ref":"#/components/schemas/AuditLog"},"description":"List of associated audit logs"},"author":{"$ref":"#/components/schemas/User","description":"Author of the risk assessment"},"approvedBy":{"$ref":"#/components/schemas/User","nullable":true,"description":"User who approved the risk assessment"},"client":{"$ref":"#/components/schemas/Client","description":"Associated client"},"task":{"$ref":"#/components/schemas/Task","description":"Associated task"},"state":{"$ref":"#/components/schemas/State","description":"Current state"},"methodStatementState":{"$ref":"#/components/schemas/State","description":"Current method statement state"},"team":{"$ref":"#/components/schemas/Team","nullable":true,"description":"Associated team"},"requestedReviewers":{"type":"array","items":{"$ref":"#/components/schemas/User"},"description":"List of requested reviewers"},"reviews":{"type":"array","items":{"$ref":"#/components/schemas/Review"},"description":"List of reviews"},"primaryReviewerId":{"type":"integer","nullable":true,"description":"ID of the primary reviewer"},"primaryReviewer":{"$ref":"#/components/schemas/User","nullable":true,"description":"Primary reviewer"},"riskAssessmentComments":{"type":"array","items":{"$ref":"#/components/schemas/RiskAssessmentComment"},"description":"List of risk assessment comments"},"methodStatementComments":{"type":"array","items":{"$ref":"#/components/schemas/MethodStatementComment"},"description":"List of method statement comments"},"revisionName":{"type":"string","nullable":true,"description":"Name of the revision"},"revisionReason":{"type":"string","nullable":true,"description":"Reason for the revision"},"revisedById":{"type":"integer","nullable":true,"description":"ID of the revised by"},"revisedBy":{"$ref":"#/components/schemas/RiskAssessment","nullable":true,"description":"Revised by risk assessment"},"revises":{"$ref":"#/components/schemas/RiskAssessment","nullable":true,"description":"Revises risk assessment"},"createdRiskAssessmentId":{"type":"integer","nullable":true,"description":"ID of the created risk assessment"},"createdRiskAssessment":{"$ref":"#/components/schemas/ScribeDocument","nullable":true,"description":"Created risk assessment document"}}},"RiskAssessmentComment":{"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the risk assessment comment"},"userId":{"type":"integer","description":"ID of the user who made the comment"},"commenter":{"$ref":"#/components/schemas/User","description":"User who made the comment"},"text":{"type":"string","description":"Text of the comment"},"createdAt":{"type":"string","format":"date-time","description":"Date and time the comment was created"},"riskAssessmentId":{"type":"integer","description":"ID of the associated risk assessment"},"riskAssessment":{"$ref":"#/components/schemas/RiskAssessment","description":"Associated risk assessment"},"activityIndex":{"type":"integer","description":"Index of the activity"},"riskIndex":{"type":"integer","description":"Index of the risk"},"mitigationIndex":{"type":"integer","description":"Index of the mitigation"},"replyToId":{"type":"integer","nullable":true,"description":"ID of the comment this comment is replying to"},"replyTo":{"$ref":"#/components/schemas/RiskAssessmentComment","nullable":true,"description":"Comment this comment is replying to"},"replies":{"type":"array","items":{"$ref":"#/components/schemas/RiskAssessmentComment"},"description":"List of replies to this comment"},"editToId":{"type":"integer","nullable":true,"description":"ID of the comment this comment is an edit of"},"editedComments":{"type":"array","items":{"$ref":"#/components/schemas/RiskAssessmentComment"},"description":"List of edited comments"},"editTo":{"$ref":"#/components/schemas/RiskAssessmentComment","nullable":true,"description":"Comment this comment is an edit of"},"deleted":{"type":"boolean","description":"Indicates if the comment is deleted"}}},"Role":{"type":"object","properties":{"roleId":{"type":"integer","description":"Unique ID of the role"},"roleName":{"type":"string","description":"Name of the role"},"notes":{"type":"string","nullable":true,"description":"Additional notes about the role"},"rolePermissionJoins":{"type":"array","items":{"$ref":"#/components/schemas/RolePermissionJoin"},"description":"List of role-permission joins associated with this role"},"users":{"type":"array","items":{"$ref":"#/components/schemas/User"},"description":"List of users associated with this role"},"userRoles":{"type":"array","items":{"$ref":"#/components/schemas/UserRole"},"description":"List of user-role associations for this role"}}},"RolePermissionJoin":{"type":"object","properties":{"rolePermissionID":{"type":"integer","description":"Unique ID of the role-permission join"},"roleId":{"type":"integer","description":"ID of the associated role"},"permissionId":{"type":"integer","nullable":true,"description":"ID of the associated permission"},"permission":{"$ref":"#/components/schemas/Permissions","description":"The associated permission"},"role":{"$ref":"#/components/schemas/Role","description":"The associated role"}}},"ScribeDocument":{"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the scribe document"},"createdAt":{"type":"string","format":"date-time","description":"Date and time when the document was created"},"metadataContent":{"type":"object","nullable":true,"description":"Metadata content of the document"},"riskAssessmentContent":{"type":"object","nullable":true,"description":"Risk assessment content of the document"},"content":{"type":"object","nullable":true,"description":"Content of the document"},"published":{"type":"boolean","description":"Indicates if the document is published"},"modifiedAt":{"type":"string","format":"date-time","nullable":true,"description":"Date and time when the document was last modified"},"riskAssessmentData":{"type":"array","items":{"$ref":"#/components/schemas/RiskAssessmentData"},"nullable":true,"description":"Risk assessment data"},"ssowData":{"type":"object","nullable":true,"description":"SSOW data"},"createdRiskAssessment":{"$ref":"#/components/schemas/RiskAssessment","description":"The associated risk assessment"}}},"Sector":{"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the sector"},"name":{"type":"string","description":"Name of the sector"},"parent":{"type":"integer","nullable":true,"description":"ID of the parent sector"},"parentSector":{"$ref":"#/components/schemas/Sector","description":"Parent sector object"},"subSectors":{"type":"array","items":{"$ref":"#/components/schemas/Sector"},"description":"List of sub-sectors"}}},"Supplier":{"type":"object","properties":{"clientId":{"type":"integer","description":"ID of the client associated with the supplier"},"supplierId":{"type":"integer","description":"ID of the supplier"},"client":{"$ref":"#/components/schemas/Client","description":"Client associated with the supplier"},"supplier":{"$ref":"#/components/schemas/Client","description":"Supplier client"},"active":{"type":"boolean","description":"Indicates if the supplier is active"}}},"Task":{"type":"object","properties":{"taskId":{"type":"integer","description":"Unique ID of the task"},"task":{"type":"string","description":"Name or description of the task","nullable":true},"created":{"type":"string","format":"date-time","description":"Date and time when the task was created"},"modified":{"type":"string","format":"date-time","description":"Date and time when the task was last modified","nullable":true},"status":{"type":"integer","description":"Status of the task (1 for active, 0 for inactive)"},"clientId":{"type":"integer","description":"ID of the client associated with the task"},"auditLogs":{"type":"array","items":{"$ref":"#/components/schemas/AuditLog"},"description":"List of audit logs related to the task"},"riskAssessments":{"type":"array","items":{"$ref":"#/components/schemas/RiskAssessment"},"description":"List of risk assessments related to the task"},"client":{"$ref":"#/components/schemas/Client","description":"Client associated with the task"}}},"Team":{"type":"object","properties":{"teamId":{"type":"integer","description":"Unique ID of the team"},"clientId":{"type":"integer","description":"ID of the client associated with the team"},"field":{"type":"string","description":"Field of the team","nullable":true},"created":{"type":"string","format":"date-time","description":"Date and time when the team was created"},"modified":{"type":"string","format":"date-time","description":"Date and time when the team was last modified","nullable":true},"status":{"type":"integer","description":"Status of the team (1 for active, 0 for inactive)"},"auditLogs":{"type":"array","items":{"$ref":"#/components/schemas/AuditLog"},"description":"List of audit logs related to the team"},"riskAssessments":{"type":"array","items":{"$ref":"#/components/schemas/RiskAssessment"},"description":"List of risk assessments related to the team"},"client":{"$ref":"#/components/schemas/Client","description":"Client associated with the team"},"teamUsers":{"type":"array","items":{"$ref":"#/components/schemas/TeamUser"},"description":"List of team users"},"users":{"type":"array","items":{"$ref":"#/components/schemas/User"},"description":"List of users associated with the team"}}},"TeamUser":{"type":"object","properties":{"teamUserId":{"type":"integer","description":"Unique ID of the team user"},"teamId":{"type":"integer","description":"ID of the team","nullable":true},"userId":{"type":"integer","description":"ID of the user","nullable":true},"team":{"$ref":"#/components/schemas/Team","description":"The team associated with the team user"},"user":{"$ref":"#/components/schemas/User","description":"The user associated with the team user"}}},"TestCronLogs":{"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the test cron log"},"log":{"type":"string","description":"Log content","nullable":true}}},"User":{"type":"object","properties":{"userId":{"type":"integer","description":"Unique ID of the user"},"email":{"type":"string","description":"Email of the user","nullable":true},"password":{"type":"string","description":"Password of the user","nullable":true},"fullName":{"type":"string","description":"Full name of the user","nullable":true},"active":{"type":"boolean","description":"Indicates if the user is active"},"enabled":{"type":"boolean","description":"Indicates if the user is enabled"},"created":{"type":"string","format":"date-time","description":"Date and time when the user was created"},"modified":{"type":"string","format":"date-time","description":"Date and time when the user was last modified","nullable":true},"deleted":{"type":"boolean","description":"Indicates if the user is deleted"},"enableEmailNotifications":{"type":"boolean","description":"Indicates if email notifications are enabled","nullable":true},"betaOptIn":{"type":"boolean","description":"Indicates if the user has opted in for beta features","nullable":true},"roleId":{"type":"integer","description":"Role ID of the user","nullable":true},"firstPage":{"type":"string","description":"First page to show after login","nullable":true},"loginAttempts":{"type":"integer","description":"Number of login attempts"},"azAdLinked":{"type":"boolean","description":"Indicates if the user is linked to Azure AD"},"azAdOid":{"type":"string","description":"Azure AD OID","nullable":true},"image":{"type":"string","format":"binary","description":"Profile image of the user","nullable":true},"contactNumber":{"type":"string","description":"Contact number of the user","nullable":true},"jobTitle":{"type":"string","description":"Job title of the user","nullable":true},"roles":{"type":"array","items":{"$ref":"#/components/schemas/UserRole"},"description":"List of roles assigned to the user"},"teams":{"type":"array","items":{"$ref":"#/components/schemas/Team"},"description":"List of teams the user is part of"},"clients":{"type":"array","items":{"$ref":"#/components/schemas/Client"},"description":"List of clients associated with the user"},"projects":{"type":"array","items":{"$ref":"#/components/schemas/Project"},"description":"List of projects the user is involved in"},"ownedProjects":{"type":"array","items":{"$ref":"#/components/schemas/Project"},"description":"List of projects owned by the user"},"requestedReviews":{"type":"array","items":{"$ref":"#/components/schemas/RiskAssessment"},"description":"List of risk assessments requested for review by the user"},"reviews":{"type":"array","items":{"$ref":"#/components/schemas/Review"},"description":"List of reviews made by the user"},"primaryReviews":{"type":"array","items":{"$ref":"#/components/schemas/RiskAssessment"},"description":"List of primary reviews made by the user"},"riskAssessmentComments":{"type":"array","items":{"$ref":"#/components/schemas/RiskAssessmentComment"},"description":"List of risk assessment comments made by the user"},"methodStatementComments":{"type":"array","items":{"$ref":"#/components/schemas/MethodStatementComment"},"description":"List of method statement comments made by the user"},"userInvites":{"type":"array","items":{"$ref":"#/components/schemas/UserInvite"},"description":"List of user invites"},"passwordResets":{"type":"array","items":{"$ref":"#/components/schemas/PasswordReset"},"description":"List of password reset requests"},"leaderProjects":{"type":"array","items":{"$ref":"#/components/schemas/Project"},"description":"List of projects led by the user"},"projectPermissions":{"type":"array","items":{"$ref":"#/components/schemas/ProjectPermissions"},"description":"List of project permissions for the user"},"mfaSecret":{"type":"string","description":"MFA secret","nullable":true},"mfaEnabled":{"type":"boolean","description":"Indicates if MFA is enabled"},"mfaMethod":{"type":"string","description":"MFA method"},"accessTokens":{"type":"array","items":{"$ref":"#/components/schemas/AccessToken"},"description":"List of access tokens for the user"},"apiTokens":{"type":"array","items":{"$ref":"#/components/schemas/ApiToken"},"description":"List of API tokens for the user"},"organisationUsers":{"type":"array","items":{"$ref":"#/components/schemas/OrganisationUser"},"description":"List of organisations the user belongs to"},"riskAssessments":{"type":"array","items":{"$ref":"#/components/schemas/RiskAssessment"},"description":"List of risk assessments authored by the user"},"actions":{"type":"array","items":{"$ref":"#/components/schemas/UserAction"},"description":"List of user actions"}}},"UserAction":{"type":"object","properties":{"actionId":{"type":"integer","description":"Unique ID of the action"},"action":{"type":"string","description":"The action performed by the user","nullable":true},"metadata":{"type":"object","description":"Additional metadata related to the action","nullable":true},"timestamp":{"type":"string","format":"date-time","description":"Timestamp when the action was performed","nullable":true},"userId":{"type":"integer","description":"ID of the user who performed the action","nullable":true},"user":{"type":"object","description":"The user who performed the action","$ref":"#/components/schemas/User"}}},"UserInvite":{"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the user invite"},"userId":{"type":"integer","description":"ID of the user associated with the invite"},"user":{"type":"object","description":"The user associated with the invite","$ref":"#/components/schemas/User"},"token":{"type":"string","description":"The token for the invite","nullable":true},"clientId":{"type":"integer","description":"ID of the client associated with the invite","nullable":true},"invitee":{"type":"object","description":"The client associated with the invite","$ref":"#/components/schemas/Client"},"expiry":{"type":"string","format":"date-time","description":"Expiry date and time of the invite"},"createdAt":{"type":"string","format":"date-time","description":"Creation date and time of the invite"},"redeemed":{"type":"boolean","description":"Indicates if the invite has been redeemed"},"lastSent":{"type":"string","format":"date-time","description":"Last sent date and time of the invite"}}},"UserRole":{"type":"object","properties":{"userRoleId":{"type":"integer","description":"Unique ID of the user role"},"roleId":{"type":"integer","description":"ID of the role associated with the user role"},"role":{"type":"object","description":"The role associated with the user role","$ref":"#/components/schemas/Role"},"clientId":{"type":"integer","description":"ID of the client associated with the user role"},"client":{"type":"object","description":"The client associated with the user role","$ref":"#/components/schemas/Client"},"userId":{"type":"integer","description":"ID of the user associated with the user role"},"user":{"type":"object","description":"The user associated with the user role","$ref":"#/components/schemas/User"},"roleName":{"type":"string","description":"Name of the role"}}}},"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"token","description":"Bearer","scopes":["client_admin","admin"]},"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT authentication"},"cookieAuth":{"type":"apiKey","in":"cookie","name":"jwt","description":"Cookie-based JWT authentication"},"internalServiceAuth":{"type":"apiKey","in":"header","name":"token","description":"Internal service token authentication"},"inviteAuth":{"type":"apiKey","in":"header","name":"token","description":"Invite token authentication"},"passwordAuth":{"type":"http","scheme":"basic","description":"Basic authentication for password login"},"demoAuth":{"type":"apiKey","in":"header","name":"token","description":"Demo token authentication"},"azureADAuth":{"type":"oauth2","flows":{"authorizationCode":{"authorizationUrl":"https://login.microsoftonline.com/common/oauth2/v2.0/authorize","tokenUrl":"https://login.microsoftonline.com/common/oauth2/v2.0/token","scopes":{"user.read":"Read user profile"}}}},"passwordResetAuth":{"type":"apiKey","in":"header","name":"token","description":"Password reset token authentication"},"analyticsAuth":{"type":"apiKey","in":"header","name":"token","description":"Analytics service token authentication"}},"schemas":{"Error":{"type":"object","properties":{"response":{"type":"boolean","description":"Whether the request was successful","example":false},"error":{"type":"object","properties":{"code":{"type":"int","example":1012},"message":{"type":"string","example":"Unable to connect to server"}}},"data":{"type":"object","example":{}}}},"Standard":{"type":"object","properties":{"response":{"type":"boolean","example":true},"error":{"type":"object","example":{}}}}}},"tags":[{"name":"Risk Assessment","description":null},{"name":"This User","description":"Endpoints relating to the current user and their session"},{"name":"Meta","description":"Endpoints relating to the API itself"}]}