{"openapi":"3.0.0","info":{"title":"Intuety API","version":"v2","description":"## Typescript Node.JS REST API Server, leveraging TypeORM. \n ### Key conventions: \n- RESTful conventions should be observed wherever possible\n- Paths are in camelCase\n- JSON body parameters should be in camelCase"},"servers":[{"url":"https://app.intuety.io/api/v2","description":"Production server"}],"paths":{"/about/version":{"get":{"summary":"Return the API Version being accessed","tags":["Meta"],"responses":{"200":{"description":"The current version of the API is returned.","content":{"text/plain":{"schema":{"type":"string","example":"v2"}}}}}}},"/metrics/riskAssessments":{"post":{"summary":"Retrieve risk assessments","description":"This endpoint retrieves risk assessments for the provided input criteria","security":[{"ApiKeyAuth":["client_admin","admin"]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"integer","description":"The ID of the project","required":false},"userId":{"type":"integer","description":"The ID of the user","required":false},"clientId":{"type":"integer","description":"The ID of the client","required":false},"startDate":{"type":"string","format":"date-time","description":"The start date of the risk assessments in ISO8601 format","required":false},"endDate":{"type":"string","format":"date-time","description":"The end date of the risk assessments in ISO8601 format","required":false}}}}}},"responses":{"200":{"description":"A list of risk assessments","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of risk assessments returned"},"riskAssessments":{"type":"array","items":{"type":"#/components/schemas/RiskAssessment"}}}}}}},"400":{"description":"Invalid body provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/reviews":{"post":{"summary":"Get reviews metrics","description":"Endpoint to fetch reviews metrics based on provided parameters","security":[{"ApiKeyAuth":["client_admin","admin"]}],"tags":["Metrics"],"requestBody":{"description":"Parameters to filter reviews metrics","required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"integer","description":"The ID of the project","required":false},"projectIds":{"type":"array","items":{"type":"integer","description":"The IDs of the projects","reqired":false}},"riskAssessmentId":{"type":"integer","description":"The ID of the risk assessment","required":false},"userId":{"type":"integer","description":"The ID of the user","required":false},"clientId":{"type":"integer","description":"The ID of the client","required":false},"startDate":{"type":"string","format":"date-time","description":"The start date of the reviews in ISO8601 format","required":false},"endDate":{"type":"string","format":"date-time","description":"The end date of the reviews in ISO8601 format","required":false}}}}}},"responses":{"200":{"description":"A list of reviews metrics","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of reviews returned"},"reviews":{"type":"array","items":{"$ref":"#/components/schemas/Review"}}}}}}},"400":{"description":"Invalid body provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/requestedReviewers":{"post":{"tags":["Metrics","RequestedReviewers"],"description":"Endpoint to get requested reviewers metrics.","security":[{"ApiKeyAuth":["client_admin","admin"]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"integer"},"projectIds":{"type":"array","items":{"type":"integer"}},"riskAssessmentId":{"type":"integer"},"userId":{"type":"integer"},"clientId":{"type":"integer"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"}}}}}},"responses":{"200":{"description":"A list of requested reviewers metrics","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of requested reviewers returned"},"requestedReviewers":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}},"400":{"description":"Invalid body provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/users":{"post":{"tags":["Metrics","Users"],"description":"Endpoint to get user metrics.","security":[{"ApiKeyAuth":["client_admin","admin"]}],"produces":["application/json"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":[{"name":"clientId","description":"Client's id.","in":"body","required":false,"type":"integer"},{"name":"clientIds","description":"Array of client's ids.","in":"body","required":false,"type":"array","items":{"type":"integer"}}]}}}},"responses":{"200":{"description":"Successful operation, returns count of users and user data.","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of users."},"users":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}},"400":{"description":"Invalid input, error message is returned.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/metrics/logins":{"post":{"tags":["Metrics"],"description":"Returns the count and data of user logins within the specified date range for a client","produces":["application/json"],"security":[{"ApiKeyAuth":["client_admin","admin"]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"}}}}}},"responses":{"200":{"description":"Successful operation, returns count of logins and login data.","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of logins"},"logins":{"type":"array","items":{"$ref":"#/components/schemas/UserLogin"}}}}}}},"400":{"description":"Invalid input, error message is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/invites":{"post":{"tags":["Metrics","Logins"],"summary":"Get invites metrics","description":"Returns the count and data of invites within the specified date range for a client","security":[{"ApiKeyAuth":["client_admin","admin"]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"}}}}}},"responses":{"200":{"description":"Successful operation, returns count of invites and invite data","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of invites"},"invites":{"type":"array","items":{"$ref":"#/components/schemas/Invite"}}}}}}},"400":{"description":"Invalid input, error message is returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/projects":{"post":{"summary":"Get projects","tags":["Metrics"],"security":[{"ApiKeyAuth":["client_admin","admin"]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"}}}}}},"responses":{"200":{"description":"Successful operation, returns count of projects and project data","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of projects"},"projects":{"type":"array","items":{"$ref":"#/components/schemas/Project"}}}}}}},"400":{"description":"Invalid input, error message is returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/collaborators":{"post":{"summary":"Retrieves collaborators metrics","security":[{"ApiKeyAuth":["client_admin","admin"]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"integer","description":"Project ID"},"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"}}}}}},"responses":{"200":{"description":"Successful operation, returns count of collaborators and collaborator data","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of collaborators"},"collaborators":{"type":"array","items":{"$ref":"#/components/schemas/Collaborator"}}}}}}},"400":{"description":"Invalid input, error message is returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/collaborations":{"post":{"summary":"Retrieves collaborations metrics","security":[{"ApiKeyAuth":["client_admin","admin"]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"integer","description":"Project ID"},"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"}}}}}},"responses":{"200":{"description":"Successful operation, returns count of collaborations and collaborator data","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer"},"collaborators":{"type":"array","items":{"type":"object"}}}}}}},"400":{"description":"Invalid input, error message is returned","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"openapi":{"0":"3","1":".","2":"0","3":".","4":"0"},"UserLogin":{"type":"object","description":"Details of the user login","properties":{"userName":{"type":"string","description":"Username of the user"},"tokenCreated":{"type":"string","format":"date-time","description":"Date and time when the token was created"},"userId":{"type":"integer","description":"ID of the user"},"user":{"type":"object","properties":{"fullName":{"type":"string","description":"Full name of the user"}}}}},"Project":{"type":"object","properties":{"projectId":{"type":"integer","description":"Unique ID of the project"},"clientId":{"type":"integer","description":"ID of the client associated with the project"},"leaderId":{"type":"integer","description":"ID of the project leader"},"name":{"type":"string","description":"Name of the project"},"reference":{"type":"string","description":"Reference of the project"},"location":{"type":"string","description":"Location of the project"},"createdAt":{"type":"string","format":"date-time","description":"Date and time of project creation"},"startDate":{"type":"string","format":"date-time","description":"Start date of the project"},"endDate":{"type":"string","format":"date-time","description":"End date of the project"},"modifiedAt":{"type":"string","format":"date-time","description":"Date and time of last modification"},"deleted":{"type":"boolean","description":"Indicates if the project is deleted"},"completed":{"type":"boolean","description":"Indicates if the project is completed"},"members":{"type":"array","items":{"type":null},"description":"List of members associated with the project"}}},"ProjectCollaboration":{"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the project collaboration"},"clientId":{"type":"integer","description":"ID of the client associated with the project collaboration"},"isPrincipleContractor":{"type":"boolean","description":"Indicates if the collaboration is with the principal contractor"},"inviterId":{"type":"integer","description":"ID of the user who invited to collaborate"},"projectId":{"type":"integer","description":"ID of the project associated with the collaboration"},"targetEmail":{"type":"string","description":"Email of the target user for collaboration"},"createdAt":{"type":"string","format":"date-time","description":"Date and time of collaboration creation"},"active":{"type":"boolean","description":"Indicates if the collaboration is active"},"readOnly":{"type":"boolean","description":"Indicates if the collaboration is read-only"},"accepted":{"type":"boolean","description":"Indicates if the collaboration is accepted"},"acceptedDate":{"type":"string","format":"date-time","description":"Date and time of collaboration acceptance"},"aliasName":{"type":"string","description":"Alias name of the collaboration"},"aliasReference":{"type":"string","description":"Alias reference of the collaboration"},"client":{"type":"object","description":"Client information associated with the collaboration"},"project":{"type":"object","description":"Project information associated with the collaboration"}}},"Review":{"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the review"},"date":{"type":"string","format":"date-time","description":"Date and time of the review"},"approved":{"type":"boolean","description":"Indicates if the risk assessment is approved or not"},"comments":{"type":"string","description":"Comments or feedback for the risk assessment"},"riskAssessmentId":{"type":"integer","description":"Unique ID of the associated risk assessment"},"reviewerId":{"type":"integer","description":"ID of the reviewer"}}},"RiskAssessment":{"type":"object","description":"Details of the risk assessment","properties":{"riskAssessmentId":{"type":"integer","example":11,"description":"Unique ID of the risk assessment"},"hidden":{"type":"boolean","example":false,"description":"Whether the risk assessment is hidden"},"projectId":{"type":"integer","example":1,"description":"Project ID of the risk assessment"},"deleted":{"type":"boolean","example":false,"description":"Whether the risk assessment is deleted"},"documentation_viewed":{"type":"boolean","example":true,"description":"Whether the risk assessment's documentation has been viewed"},"uploadRiskAssessment":{"type":"string","example":"stripped example.docx","description":"File name of the uploaded risk assessment"},"uploadRiskAssessmentStoredName":{"type":"string","example":null,"description":"Stored name of the uploaded risk assessment"},"uploadMethodStatement":{"type":"string","example":"stripped example.docx","description":"File name of the uploaded method statement"},"uploadMethodStatementStoredName":{"type":"string","example":null,"description":"Stored name of the uploaded method statement"},"reference":{"type":"string","example":"test9","description":"Reference of the risk assessment"},"taskId":{"type":"integer","example":1},"approvalId":{"type":"string","example":null},"clientId":{"type":"integer","example":1},"userId":{"type":"integer","example":4},"jobId":{"type":"string","example":"5bf50c5c-7d35-43f0-851c-9031981f990a","description":"Unique Job ID of the risk assessment"},"teamId":{"type":"string","example":null},"improvementTrend":{"type":"integer","example":0},"description":"Increase in document score for the risk assessment","submittedDate":{"type":"string","example":null,"description":"Date of submission"},"stateId":{"type":"integer","example":70,"description":"State ID of the risk assessment"},"created":{"type":"string","format":"date-time","example":"2022-12-21T19:43:59.000Z","description":"Date of creation"},"modified":{"type":"string","format":"date-time","example":"2023-01-23T15:41:23.000Z","description":"Date of last modification"},"status":{"type":"integer","example":1,"description":"Intelligence platform status of the risk assessment"},"restructuredJson":{"type":"object","description":"Recommendation JSON for the risk assessment","properties":{"Activities":{"type":"array","items":{"type":"object","properties":{"Risks":{"type":"array","items":{"type":"object","properties":{"risk":{"type":"string"},"Mitigations":{"type":"array","items":{"type":"object","properties":{"userAction":{"type":"string"},"description":{"type":"string"},"intuetySuggestion":{"type":"string"},"userActionDateTime":{"type":"string"}}}},"riskUserAction":{"type":"string"},"intuetySuggestion":{"type":"string"},"riskUserActionDateTime":{"type":"string"},"numOfMitigationsWhichRequireApproval":{"type":"integer"}}}},"activity":{"type":"string"},"intuetyToProcess":{"type":"boolean"},"numOfRisksWhichRequireApproval":{"type":"integer"}}},"numOfActivitiesWhichRequireApproval":{"type":"integer"}}}},"remarks":{"type":"string","description":"Last intelligence platform log of the risk assessment processing"},"totalMitigations":{"type":"integer","description":"Total number of mitigations"},"mitigationsAccepted":{"type":"integer","description":"Number of mitigations which were accepted"},"qualityScore":{"type":"integer","description":"Quality score of the risk assessment after recommendation review"},"numberOfRecommendations":{"type":"integer","description":"Number of recommendations"},"totalNumberOfTriplets":{"type":"integer","description":"Total number of Activity-risk-mitigation triplets"},"initialQualityScore":{"type":"number","description":"Quality score of the risk assessment before recommendation review"},"msNotRa":{"type":"array","items":{"type":"string"},"description":"List of mitigations which are not part of the risk assessment but found in MS"},"raNotMs":{"type":"array","items":{"type":"string"},"description":"List of mitigations which are part of the risk assessment but not found in MS"},"safetyBriefingRecommendations":{"type":"array","items":{"type":"object"},"description":"List of safety briefing recommendations (not currently in use. Stored elsewhere)"},"primaryReviewerId":{"type":"integer","description":"User ID of the primary reviewer"},"revisionName":{"type":"string","description":"Name of the revision"},"revisionReason":{"type":"string","description":"Reason for the revision"},"revisedById":{"type":"integer","description":"User ID of the user who made the revision"},"project":{"type":"object","properties":{"name":{"type":"string"},"members":{"type":"array","items":{"type":"string"}}},"description":"Project details"},"author":{"type":"object","properties":{"userId":{"type":"integer"},"fullName":{"type":"string"}},"description":"Author details"},"projectName":{"type":"string","example":"Test Project"}}},"User":{"type":"object","properties":{"userId":{"type":"integer","description":"ID of the user"},"email":{"type":"string","description":"Email of the user"},"fullName":{"type":"string","description":"Full name of the user"},"active":{"type":"boolean","description":"Whether the user is active"},"enabled":{"type":"boolean","description":"Whether the user is enabled"},"created":{"type":"string","format":"date-time","description":"Date of creation"},"modified":{"type":"string","format":"date-time","description":"Date of last modification"},"deleted":{"type":"boolean","description":"Whether the user is deleted"},"enableEmailNotifications":{"type":"boolean","description":"Whether email notifications are enabled"},"betaOptIn":{"type":"boolean","description":"Whether the user has opted into beta"},"roleId":{"type":"integer","description":"ID of the user's role"},"firstPage":{"type":null,"description":"First page user wishes to see on login"},"loginAttempts":{"type":"integer","description":"Number of login attempts"},"azAdLinked":{"type":"boolean","description":"Whether the user is linked to Azure AD"},"mfaEnabled":{"type":"boolean","description":"Whether multi-factor authentication is enabled"},"mfaMethod":{"type":"string","description":"Method of multi-factor authentication"},"roles":{"type":"array","items":{"type":"object","properties":{"userRoleId":{"type":"integer","description":"ID of the user's role"},"roleId":{"type":"integer","description":"ID of the role"},"clientId":{"type":"integer","description":"ID of the client"},"userId":{"type":"integer","description":"ID of the user"}}}}},"description":"Details of a user in the system"}},"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"token","description":"Bearer","scopes":["client_admin","admin"]}},"schemas":{"Error":{"type":"object","properties":{"response":{"type":"boolean","description":"Whether the request was successful","example":false},"error":{"type":"object","properties":{"code":{"type":"int","example":1012},"message":{"type":"string","example":"Unable to connect to server"}}},"data":{"type":"object","example":{}}}},"Standard":{"type":"object","properties":{"response":{"type":"boolean","example":true},"error":{"type":"object","example":{}}}}}},"tags":[{"name":"Risk Assessment","description":null},{"name":"This User","description":"Endpoints relating to the current user and their session"},{"name":"Meta","description":"Endpoints relating to the API itself"}]}