{"openapi":"3.0.0","info":{"title":"Intuety API","version":"v2","description":"## Typescript Node.JS REST API Server, leveraging TypeORM. \n ### Key conventions: \n- RESTful conventions should be observed wherever possible\n- Paths are in camelCase\n- JSON body parameters should be in camelCase"},"servers":[{"url":"https://app.intuety.io/api/v2","description":"Production server"}],"paths":{"/about/version":{"get":{"summary":"Return the API Version being accessed","tags":["Meta"],"responses":{"200":{"description":"The current version of the API is returned.","content":{"text/plain":{"schema":{"type":"string","example":"v2"}}}}}}},"/metrics/riskAssessments":{"post":{"summary":"Retrieve risk assessments","description":"This endpoint retrieves risk assessments for the provided input criteria","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"integer","description":"The ID of the project","required":false},"userId":{"type":"integer","description":"The ID of the user","required":false},"clientId":{"type":"integer","description":"The ID of the client","required":false},"startDate":{"type":"string","format":"date-time","description":"The start date of the risk assessments in ISO8601 format","required":false},"endDate":{"type":"string","format":"date-time","description":"The end date of the risk assessments in ISO8601 format","required":false}}}}}},"responses":{"200":{"description":"A list of risk assessments","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of risk assessments returned"},"riskAssessments":{"type":"array","items":{"$ref":"#/components/schemas/RiskAssessment"}}}}}}},"400":{"description":"Invalid body provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/reviews":{"post":{"summary":"Get reviews metrics","description":"Endpoint to fetch reviews metrics based on provided parameters","tags":["Metrics"],"requestBody":{"description":"Parameters to filter reviews metrics","required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"integer","description":"The ID of the project","required":false},"projectIds":{"type":"array","items":{"type":"integer","description":"The IDs of the projects","reqired":false}},"riskAssessmentId":{"type":"integer","description":"The ID of the risk assessment","required":false},"userId":{"type":"integer","description":"The ID of the user","required":false},"clientId":{"type":"integer","description":"The ID of the client","required":false},"startDate":{"type":"string","format":"date-time","description":"The start date of the reviews in ISO8601 format","required":false},"endDate":{"type":"string","format":"date-time","description":"The end date of the reviews in ISO8601 format","required":false}}}}}},"responses":{"200":{"description":"A list of reviews metrics","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of reviews returned"},"reviews":{"type":"array","items":{"$ref":"#/components/schemas/Review"}}}}}}},"400":{"description":"Invalid body provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/requestedReviewers":{"post":{"tags":["Metrics","RequestedReviewers"],"description":"Endpoint to get requested reviewers metrics.","parameters":[{"in":"body","name":"request","required":true,"schema":{"type":"object","properties":{"projectId":{"type":"integer","required":false},"projectIds":{"type":"array","items":{"type":"integer"},"required":false},"riskAssessmentId":{"type":"integer","required":false},"userId":{"type":"integer","required":false},"clientId":{"type":"integer","required":false},"startDate":{"type":"string","format":"date-time","required":false},"endDate":{"type":"string","format":"date-time","required":false}}}}],"responses":{"200":{"description":"A list of requested reviewers metrics","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of requested reviewers returned"},"requestedReviewers":{"type":"array","items":{"$ref":"#/components/schemas/RequestedReviewer"}}}}}}},"400":{"description":"Invalid body provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/users":{"post":{"tags":["Metrics","Users"],"description":"Endpoint to get user metrics.","produces":["application/json"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":[{"name":"clientId","description":"Client's id.","in":"body","required":false,"type":"integer"},{"name":"clientIds","description":"Array of client's ids.","in":"body","required":false,"type":"array","items":{"type":"integer"}}]}}}},"responses":{"200":{"description":"Successful operation, returns count of users and user data.","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of users."},"users":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}},"400":{"description":"Invalid input, error message is returned.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/metrics/logins":{"post":{"tags":["Metrics"],"description":"Returns the count and data of user logins within the specified date range for a client","produces":["application/json"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"}}}}}},"responses":{"200":{"description":"Successful operation, returns count of logins and login data.","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of logins"},"logins":{"type":"array","items":{"$ref":"#/components/schemas/Login"}}}}}}},"400":{"description":"Invalid input, error message is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/invites":{"post":{"tags":["Metrics","Logins"],"summary":"Get invites metrics","description":"Returns the count and data of invites within the specified date range for a client","security":[{"admin_api":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"}}}}}},"responses":{"200":{"description":"Successful operation, returns count of invites and invite data","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of invites"},"invites":{"type":"array","items":{"$ref":"#/components/schemas/Invite"}}}}}}},"400":{"description":"Invalid input, error message is returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/projects":{"post":{"summary":"Get projects","tags":["Metrics"],"security":[{"admin_api":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"}}}}}},"responses":{"200":{"description":"Successful operation, returns count of projects and project data","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of projects"},"projects":{"type":"array","items":{"$ref":"#/components/schemas/Project"}}}}}}},"400":{"description":"Invalid input, error message is returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/collaborators":{"post":{"summary":"Retrieves collaborators metrics","security":[{"admin_api":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"integer","description":"Project ID"},"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"}}}}}},"responses":{"200":{"description":"Successful operation, returns count of collaborators and collaborator data","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of collaborators"},"collaborators":{"type":"array","items":{"$ref":"#/components/schemas/Collaborator"}}}}}}},"400":{"description":"Invalid input, error message is returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/metrics/collaborations":{"post":{"summary":"Retrieves collaborations metrics","security":[{"admin_api":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"projectId":{"type":"integer","description":"Project ID"},"clientId":{"type":"integer","description":"Client ID"},"startDate":{"type":"string","format":"date-time","description":"Start date for the metrics (ISO8601 format)"},"endDate":{"type":"string","format":"date-time","description":"End date for the metrics (ISO8601 format)"}}}}}},"responses":{"200":{"description":"Successful operation, returns count of collaborations and collaborator data","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer"},"collaborators":{"type":"array","items":{"type":"object"}}}}}}},"400":{"description":"Invalid input, error message is returned","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"openapi":{"0":"3","1":".","2":"0","3":".","4":"0"}},"components":{"schemas":{"Error":{"type":"object","properties":{"response":{"type":"boolean","description":"Whether the request was successful","example":false},"error":{"type":"object","properties":{"code":{"type":"int","example":1012},"message":{"type":"string","example":"Unable to connect to server"}}},"data":{"type":"object","example":{}}}},"Standard":{"type":"object","properties":{"response":{"type":"boolean","example":true},"error":{"type":"object","example":{}}}}}},"tags":[{"name":"Risk Assessment","description":null},{"name":"This User","description":"Endpoints relating to the current user and their session"},{"name":"Meta","description":"Endpoints relating to the API itself"}]}